<div class="d-flex flex-column p-3">

  <a routerLink="/customers" class="btn btn-outline-primary mb-2">
    Customers
  </a>

  <a routerLink="/add-customer" class="btn btn-outline-primary mb-2">
    Add Customer
  </a>

  <a routerLink="/accounts" class="btn btn-outline-success mb-2">
    Accounts
  </a>

  <a routerLink="/create-account" class="btn btn-outline-success mb-2">
    Create Account
  </a>

  <a routerLink="/deposit" class="btn btn-outline-warning mb-2">
    Deposit
  </a>

  <a routerLink="/withdraw" class="btn btn-outline-warning mb-2">
    Withdraw
  </a>

  <a routerLink="/transfer" class="btn btn-outline-danger mb-2">
    Transfer
  </a>

  <a routerLink="/transactions" class="btn btn-outline-dark mb-2">
    Transactions
  </a>

</div>
